html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  background-color: #2d2944;
}

header {
  background-color: #0E0B1B;
  color: #fff;
  padding: 1em 1em 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  margin-right: 1em;
  padding-bottom: 8px;
}
header .incidental {
  margin-right: 1em;
  font-size: 0.8em;
}
header #bungie-name {
  font-size: 1.2em;
}
header #bungie-id {
  color: #05A895;
}

main div h2 {
  width: 100%;
  padding-left: 10px;
  color: #c9ebe2;
  margin: 1em 0 0.25em 0;
  text-align: center;
}

#controls {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  background-color: #0E0B1B;
  padding: 10px;
  justify-content: center;
}
#controls a:nth-child(1) {
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
}
#controls a:nth-child(10) {
  border-radius: 0 10px 10px 0;
  padding-right: 10px;
}
#controls a:nth-child(12) {
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
}
#controls a:last-child {
  border-radius: 0 10px 10px 0;
  padding-right: 10px;
}
#controls a {
  display: block;
  padding: 0.2em 0.5em 0.3em;
  white-space: nowrap;
  margin: 1px;
  color: #05A895;
  background-color: #c9ebe2;
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;
}
#controls .break {
  flex-basis: 100%;
  height: 0;
}

@media screen and (min-width: 1212px) {
  .break {
    display: none;
  }

  #controls a:nth-child(10), #controls a:nth-child(12) {
    border-radius: 0;
    background: red;
  }
}
#apps, #graphics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}
#apps .card, #graphics .card {
  width: 202px;
  flex-direction: column;
  background-color: #c9ebe2;
  margin: 5px;
  display: none;
  box-shadow: rgba(201, 250, 191, 0.1) 0px 1px 1px 0px inset, rgba(54, 93, 50, 0.25) 0px 50px 100px -20px, rgba(0, 70, 46, 0.3) 0px 30px 60px -30px;
}
#apps .card .title, #graphics .card .title {
  font-weight: bold;
}
#apps .card h2, #apps .card p, #apps .card a, #graphics .card h2, #graphics .card p, #graphics .card a {
  padding: 10px;
  margin: 0;
}
#apps .card h2, #apps .card p, #graphics .card h2, #graphics .card p {
  margin: 10px 0 0;
  padding: 0 10px;
}
#apps .card h2, #graphics .card h2 {
  font-size: 1.3em;
}
#apps .card p, #graphics .card p {
  flex-grow: 1;
}
#apps .card p:last-child, #graphics .card p:last-child {
  margin-bottom: 10px;
}
#apps .card .tags, #graphics .card .tags {
  margin-top: 0px;
  padding: 0 5px 5px;
}
#apps .card .tags span, #graphics .card .tags span {
  border-radius: 100px;
  background-color: #8FD9C6;
  font-size: 0.6em;
  color: #fff;
  padding: 2px 6px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}
#apps .card a.button, #graphics .card a.button {
  display: block;
  background-color: #05A895;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

#graphics {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
  justify-content: center;
}
#graphics a, #graphics .card {
  border-radius: 25px 25px 0 0;
}
#graphics .card a {
  padding: 15px 20px;
  display: block;
}
#graphics .card {
  width: auto;
  margin-bottom: 0;
  display: flex;
  font-size: 0.8em;
  margin: 1px;
}
#graphics #selected-graphic {
  flex-basis: 100%;
  width: 100%;
  background: #0E0B1B;
  min-height: 20px;
  border: none;
}

/*# sourceMappingURL=main.css.map */
